<header class="header container bg-primary-100 py-5 py-lg-9 border-bottom">
    <nav class="navbar navbar-expand-lg navbar-light bg-light bg-primary-100">
        <!-- Vivre -->
        <a class="navbar-brand text-gray-800 me-9" href="index.html">Vivre</a>
        <!-- 漢堡按鈕 -->
        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#header-navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="header-navbar">
            <!-- 搜尋框 -->
            <form class="position-relative d-flex align-items-center">
                <input class="header-search form-control bg-white" type="search" placeholder="搜尋文章" aria-label="Search">
                <i class="position-absolute bi bi-search fs-4 end-20px lh-1 text-accent-200"></i>
            </form>
            <!-- 選項 -->
            <ul class="navbar-nav d-grid gap-6 gap-lg-5 me-0 me-sm-6 mb-10 mb-lg-0 d-flex align-items-lg-center ms-auto">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">所有文章</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">訂閱方案</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="about.html">關於我們</a>
                </li>
            </ul>
            <!-- 登入 -->
            <div>
                <a href="#" class="btn-login btn btn-accent-200 text-white fw-bold d-block">登入 / 註冊</a>
            </div>
            
        </div>
    </nav>
</header>